
input{

    border:0;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: rgb(54, 148, 82);
    color:rgb(54, 148, 82) ;
    border-radius: 10px;
    font-size: xx-large;

}
input:hover{
    background-color: rgb(46, 80, 46);
    color: rgb(46, 80, 46);
}

[id="start"]{
    background-color: rgb(54, 148, 82);
    color: azure;
    height: 100px;
    width: 300px;
}
[id="start"]:hover{
    color: white;
}
#text{
    display: inline;
    font-size: xx-large;
}
    
table{    
    border: solid 1px;
    border-radius: 20px;


}
td{
    color: aliceblue;
    width: 200px;
    text-align: center;
    background-color:rgb(54, 148, 82) ;
    padding: 10px;
}